<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RepoUtl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SharpSvnTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RepoUtl.Properties.Settings>
            <setting name="FormUI" serializeAs="String">
                <value />
            </setting>
            <setting name="ListFormUI" serializeAs="String">
                <value />
            </setting>
            <setting name="WorktreesFormUI" serializeAs="String">
                <value />
            </setting>
        </RepoUtl.Properties.Settings>
        <SharpSvnTest.Properties.Settings>
            <setting name="WorkingCopyPath" serializeAs="String">
                <value/>
            </setting>
        </SharpSvnTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
